<configuration>
    <!-- Console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File appender (for writing logs to a file) -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>myJDBCapp.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Log level and appenders for your application package -->
    <logger name="ie.atu.jdbc" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </logger>

    <!-- Root logger configuration -->
    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
